* {
    padding: 0; 
    margin: 0;   
}

a {
    color: rgb(144, 194, 231);
    text-decoration: none;
}

.header {
    overflow: hidden;
    background-color:rgb(53, 59, 60);
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
}

.header_image {
    float: left;
}

.header_fields {
    float: right;
}

.body {
    clear: both;
    margin-top: 60px;
    background-color: rgb(238, 240, 242);
}

.footer {
    background-color: rgb(53, 59, 60);
    color: rgb(144, 194, 231);
    bottom: 0;
    height: 40px;
    padding-top: 10px;
    padding-left: 10px;
}


#book_list li {
    height: 350px;
    width: 250px;
    display: inline-block;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

.center_text {
    text-align: center;
}

.book_list_caption {
    display:block;
}

.book_detail {
    padding-top: 20px;
    padding-left: 10px;
}

.book_info {
    padding-top: 30px;
    padding-left: 30px;
    float: left;
}

.book_image {
    padding-top: 20px;
    float: left;
}

.book_comment_section {
    padding-left: 10px;
    padding-bottom: 5px;
    clear: both;
}

.book_comments {
    background-color: rgb(198, 199, 196);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
}

.book_comment_content {
    padding-left: 20px;
    padding-top: 5px;
}