* {
    padding: 0; 
    margin: 0;
}

.pages {
    background-color: rgb(238, 240, 242);
    height: 100vmax;
}

.background {
    background-color: rgb(238, 240, 242);
}

a {
    color: rgb(0, 0, 0);
}

table {
    border-collapse: collapse;
    width: 80%;
    margin-top: 30px;
    margin-left: 50px;
    padding-right: 50px;
}
  
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table {
    padding-left: 20px;
    padding-right: 20px;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    height: 47px
}

/* Style the navigation bar links */
.navbar a {
    color: rgb(238, 240, 242);
    float: left;
    display: block;
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;
}

.navbar form {
    float: left;
    display: block;
    align-content: center;
    text-align: center;
    padding: 10px 40px;
    text-decoration: none;
}


/* Right-aligned link */
.navbar a.right {
    top: 0;
    float: right;
}

/* Change color on hover */
.navbar a:hover {
    background-color: rgb(238, 240, 242);
    color: rgb(53, 59, 60);
}
  
/* Active/current link */
.navbar a.active {
    background-color: rgb(162, 153, 158);
    color: white;
}

.navbar input[type=text] {
    padding: 3px;
    margin-top: 0px;
    font-size: 17px;
    border: none;
}


.body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(238, 240, 242);
    height: 100%;
    clear: both;
    margin-bottom: 40px;
}

.footer {
    background-color: rgb(53, 59, 60);
    color: rgb(162, 153, 158);
    bottom: 0;
    height: 40px;
    padding-top: 10px;
    padding-left: 10px;
    position: fixed;
    width:100%;
}
  
#book_list li {
    height: 350px;
    width: 250px;
    display: inline-block;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

.center_text {
    text-align: center;
    padding-top: 20px;
}

.book_list_caption {
    display:block;
}

/*BOOK DETAIL CLASSES*/

.book_detail {
    padding-top: 20px;
    padding-left: 10px;
    display: flex;
}

.book_title {
    padding-top: 20px;
    padding-left: 10px;
}

.book_info {
    padding-top: 20px;
    padding-right: 30px;
    padding-left: 30px;
    float: left;
}

.book_cart {
    float: right;
    padding-top: 20px;
    padding-left: 30px;
}

.book_image {
    padding-top: 10px;
    float: left;
}

.book_comment_section {
    padding-left: 10px;
    padding-bottom: 5px;
    clear: both;
}

.book_comments {
    background-color: rgb(198, 199, 196);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
}

.book_comment_content {
    padding-left: 20px;
    padding-top: 5px;
}

/**********************/

.button {
    background-color: white;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
}
  
.button1 {
    background-color: rgb(162, 153, 158);
    color: white; 
    border: 2px solid rgb(162, 153, 158);
}
  
.button1:hover {
    background-color: white;
    color: rgb(162, 153, 158);
}
.buttongrey {
    background-color: rgb(53, 59, 60);
    color: white; 
    border: 2px solid rgb(53, 59, 60);
}
  
.buttongrey:hover {
    background-color: white;
    color: rgb(53, 59, 60);
}

.checkout {
    padding-top: 30px;
    padding-left: 50px;
    display: flex;
}

.shopping {
    padding-top: 15px;
    padding-left: 20px;
}

/*************************************/

.formbox {
    height: 250px;
    width: 250px;
    display: inline-block;
    padding-top: 20px;
    margin-left: 40%;
    font-size: 14px;
    line-height: 30px;
}

.helptext {
    color: grey
}

.errortext {
    color: red;
}
  