{% extends 'base_generic.html' %}
{% block title %}
   Home
{% endblock %}

{% block content %}
<h1>Inicio</h1>

<form action="{% url 'search' %}" method="get">
    <input name="q" type="text" placeholder="Search...">
</form>

{% if user.is_authenticated %}
    Hi <strong>{{ user.username }}!</strong>
{% else %}
    <p>You are not logged in</p>
{% endif %}

{% if score_order %}
<ul>
  <h3>Libros mejor valorados</h3>  
  {% for book in score_order %}
  <li>
    <a href="{{ book.get_absolute_url }}">{{ book.title }} {{ book.score }}</a>
  </li>
  {% endfor %}

</ul>
{% else %}
  <p>There are no books in the library.</p>
{% endif %}

{% if date_order %}
<ul>
  <h3>Libros m&aacute;s recientes</h3>  
  {% for book in date_order %}
  <li>
    <a href="{{ book.get_absolute_url }}">{{ book.title }} {{ book.date }}</a>
  </li>
  {% endfor %}

</ul>
{% else %}
  <p>There are no books in the library.</p>
{% endif %}
{% endblock content %}

<!-- Ejemplo de fichero home.html. 
Esto es solo un ejemplo para empezar a trabajar, 
se espera que lo modifiquéis tanto como sea necesario. 
-->
