{% extends "base_generic.html" %}

{% block content %}
  <h1>Title: {{ book.title }}</h1>

  <p><strong>Summary:</strong> {{ book.title }}</p>
  <p><strong>ISBN:</strong> {{ book.isbn }}</p>
  <p><strong>Price:</strong> {{ book.price }}</p>
  <p><strong>Number of copies:</strong> {{ book.number_copies_stock }}</p>
  <p><strong>Image:</strong> <img src = "{{ book.path_to_cover_image }}" alt="{{ book.path_to_cover_image }}"></p>
  <p><strong>Author/s:</strong> {% for author in book.author.all %} {{ author }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>

  <div>
    <h4>Comments</h4>

    {% for com in book.comment_set.all %}
    <hr>
    <p><strong>User:</strong> {{ com.user }} | {{ com.date }}</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;{{ com.msg }}</p>
    
    {% endfor %}
  </div>
  
{% endblock %}