{% extends "base_generic.html" %}

{% block content %}
<h1>Search Results</h1>

<ul>
  {% for book in search_list %}
    <li>
      {{ book.title }}
    </li>
  {% endfor %}
</ul>
{% endblock %}

{% block pagination %}
  {% if is_paginated %}
    <div class="pagination">
      <span class="page-links">
      {% if page_obj.has_previous %}
        <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}&q={{ result }}">previous</a>
      {% endif %}
      <span class="page-current">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>
      {% if page_obj.has_next %}
        <a href="{{ request.path }}?page={{ page_obj.next_page_number }}&q={{ result }}">next</a>
      {% endif %}
      </span>
    </div>
  {% endif %}
{% endblock %}